<section id="blog" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="~/content/images/icons/post-it.png" alt="demo">Blog</h4>
        </div>
        <div id="blog-card" class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="blog odd">
                        <div class="image">
                            <img alt="blog-image" src="~/content/images/blog/blog-2.png"/>
                            <div class="image-overlay">
                                <div class="comments">
                                    <i class="fa fa-user"></i> John Doe
                                    <i class="fa fa-clock-o"></i>
                                    <time datetime="2045-08-16">August 7, 2020</time>
                                    <i class="fa fa-comments"></i> 168
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <ol class="breadcrumb">
                                <li><a href="#">Frontend</a></li>
                                <li><a href="#">Design</a></li>
                                <li class="active">Material</li>
                            </ol>
                            <h6>Material Design</h6>
                            <p>
                                Web design encompasses many different skills and disciplines in the production
                                of websites.Web design include web graphic design, interface design etc.
                            </p>
                            <a class="forward" href="single-blog.html">Read More</a>
                        </div>
                    </div>
                    <div class="blog even">
                        <div class="image">
                            <img alt="blog-image" src="~/content/images/blog/blog-1.png"/>
                            <div class="image-overlay">
                                <div class="comments">
                                    <i class="fa fa-user"></i> John Doe
                                    <i class="fa fa-clock-o"></i>
                                    <time datetime="2045-08-16">August 7, 2020</time>
                                    <i class="fa fa-comments"></i> 168
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <ol class="breadcrumb">
                                <li><a href="#">Backend</a></li>
                                <li><a href="#">Dev</a></li>
                                <li class="active">Shortcuts</li>
                            </ol>
                            <h6>Development Shortcut</h6>
                            <p>
                                Web development is a broad term for the work involved in developing a web site
                                for the Internet or an intranet. Now lets get a bit deeper in this topic
                            </p>
                            <a class="forward" href="single-blog.html">Read More</a>
                        </div>
                    </div>
                    <div class="blog odd">
                        <div class="image">
                            <img alt="blog-image" src="~/content/images/blog/blog-3.png"/>
                            <div class="image-overlay">
                                <div class="comments">
                                    <i class="fa fa-user"></i> John Doe
                                    <i class="fa fa-clock-o"></i>
                                    <time datetime="2045-08-16">August 7, 2020</time>
                                    <i class="fa fa-comments"></i> 168
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <ol class="breadcrumb">
                                <li><a href="#">Frontend</a></li>
                                <li><a href="#">Specs</a></li>
                                <li class="active">UI</li>
                            </ol>
                            <h6>A Good UI</h6>
                            <p>
                                The user interface (UI), in the industrial design field of human–machine
                                interaction, is the space where interactions between humans and machines occur.
                            </p>
                            <a class="forward" href="single-blog.html">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
