<section id="experience" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="~/content/images/icons/layers.png" alt="demo">Experience</h4>
        </div>
        <div id="timeline-experience">
            <div class="timeline-block">
                <div class="timeline-dot"><h6>S</h6></div>
                <div class="card timeline-content">
                    <div class="card-content">
                        <h6 class="timeline-title">Software Engineer Level 3</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>Syncfusion Softwares Pvt Ltd</small>
                            </h6>
                            <h6>
                                <small>April 2014 - Jul 2016</small>
                            </h6>
                        </div>
                        <p>
                            I started my software engineering carrier here, spent two years learning and working
                            in various web technologies..
                        </p>
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-dot"><h6>A</h6></div>
                <div class="card timeline-content">
                    <div class="card-content">
                        <h6 class="timeline-title">Application Development Analyst</h6>
                        <div class="timeline-info">
                            <h6>
                                <small>Accenture</small>
                            </h6>
                            <h6>
                                <small>Jul 2016 - Continue</small>
                            </h6>
                        </div>
                        <p>
                            I joined here on 2016, currently working on various development aspects. I already worked on about...
                        </p>
                        <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-3">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <!--MODAL FOUR-->
    <div class="modal fade" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--MODAL HEADER-->
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel-4">Experience at Syncfusion Softwares Pvt Ltd</h4>
                    <h6>
                        <small>April ’2014 – July ‘2016</small>
                    </h6>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body">
                    <span>
                        <h4><b>Position:</b></h4> Software Engineer Level 3<br>
                        <span>
                            <h4><b>Role:</b></h4> .Net Web Developer<br>
                            <h4><b>Product:</b></h4>  Dashboard Server in Syncfusion Dashboard Platform and Report Server.<br>
                            The Syncfusion Dashboard Platform is an end-to-end solution for creating, managing and sharing interactive business dashboards. It includes a dashboard designer application for easily composing dashboards as well as a web interface for managing and sharing dashboards which is dashboard server. Dashboard or Report server is a web interface for managing and sharing dashboards/reports with users with their assigned permissions. The dashboard/report server acts as a portal for dashboards/reports in that users can create, edit, and manage their dashboards with secured way. Secured way in the sense, each user has different set of permissions and only users with appropriate security roles can view the relevant dashboard/report.<br>
                            <h4><b>Responsibilities:</b></h4>
                        </span>
                        <ul>
                            <li>Permission schema analysis and designing.</li>
                            <li>Notifications architecture design and development.</li>
                            <li>Scheduler service for exporting report/dashboard in scheduled timing and e-mail the exported file.</li>
                            <li>Web API development..</li>
                            <li>Integrating Microsoft SSRS Reports with Report Server.</li>
                            <li>Designed data access layer for the application.</li>
                            <li>Collaboration schema design.</li>
                            <li>UI development for user management modules.</li>
                            <li>Azure SQL, SQLCe support provided for product.</li>
                            <li>Used N-tier architecture for presentation layer, business layer,data access Layers and were coded using C#.</li>
                            <li>Written stored procedures, triggers using SQL for SQL SERVER 2008/2012/2014.</li>
                            <li>Developed WebForms using C# and ASP.NET MVC.</li>
                            <li>Used AJAX in some webforms.</li>
                            <li>Worked on Cascading Style Sheets and XML-Schemas.</li>
                            <li>Developed Web API for user authentication and file transfer. </li>
                            <li>Ensured Security to all the portals by creating Tampered proofed URLs.</li>
                            <li>Extensively used GridViews sorting and paging </li>
                            <li>Deployment of Application on Test and Production Server.</li>
                            <li>Fixed many production issues and performed complex enhancements in the portal.</li>
                        </ul>
                </div>
                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel-4">Experience at Accenture Solutions Pvt Ltd</h4>
                    <h6>
                        <small>July ‘2016 - Continue</small>
                    </h6>
                </div>
                <div class="modal-body">
                    <span>
                        <h4><b>Position:</b></h4> Application Development Analyst<br>
                        <span>
                            <h4><b>Role:</b></h4> .Net MVC with Sitecore Developer<br>
                            <h4><b>Product:</b></h4>  Suncor Energy (http://www.suncor.com , http://lubricants.petro-canada.ca/en-ca)<br>
                            Suncor Energy is a Canadian integrated energy company. The project is about creating website for the company and many of other sub companies of Suncor. The project is designed with a CMS Sitecore and ASP NET MVC.<br>
                            <h4><b>Responsibilities:</b></h4>
                        </span>
                        <ul>
                            <li>•	Creating site specific reusable components for the website using Sitecore CMS.</li>
                            <li>•	TDS integration with .Net project</li>
                            <li>•	GeoIP implementation</li>
                            <li>•	Workflow implementation</li>
                            <li>•	Implemented WFFM module in the application</li>
                            <li>•	Implemented Search module with Lucene  </li>
                            <li>•	Fixed many critical production bugs.</li>
                            <li>•	Performance optimization for making the site to be loading within SLA time.</li>
                        </ul>
                </div>
                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>

    <!--MODAL FIVE-->
    <div class="modal fade" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!--MODAL HEADER-->
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel-5">EXPERIENCE AT M</h4>
                    <h6>
                        <small>Jan 2014 - Mar 2015</small>
                    </h6>
                </div>
                <!--MODAL BODY-->
                <div class="modal-body">
                    <p>
                        I have learned a great many things from participating in varsity football.
                        It has changed my entire outlook on and attitude toward life. Before my
                        freshman year at [high-school], I was shy, had low self-esteem and turned
                        away from seemingly impossible challenges. Football has altered all of these
                        qualities. On the first day of freshman practice, the team warmed up with a
                        game of touch football. The players were split up and the game began. However,
                    </p>
                </div>
                <!--MODAL FOOTER-->
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>
</section>