<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Mohan Rao Full Stack Application Developer - Personal website and blog">
    <meta name="keywords" content="designer, web designer, ui designer, designer ct, mohan rao, mohan, rao, websites, designer chennai, front end, css, scss">
    <meta name="author" content="Mohan Rao">
    <title>Mohan Rao | Full Stack Application Developer | Chennai-India</title>
    <link rel="icon" href="~/content/images/site/favicon.ico">
    <link rel="apple-touch-icon" href="~/content/images/site/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/about")
</head>
<body>
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="box-holder animated bounceInDown">
                    <span class="load-box"><span class="box-inner"></span></span>
                </div>
                <div class="text-holder text-center">
                    <h2>Mohan Rao</h2>
                    <h6>Full Stack Web Application Developer</h6>
                </div>
            </div>
        </div>
    </div>
    <header id="home">
        <nav id="theMenu" class="menu">
            <div id="menu-options" class="menu-wrap">
                <div class="logo-flat">
                    <img alt="personal-logo" class="img-responsive" src="~/content/images/profile/mohan-logo.png">
                </div>
                <br>
                <a href="#home"><i class="title-icon fa fa-user"></i>Home</a>
                <a href="#about"><i class="title-icon fa fa-dashboard"></i>About</a>
                <a href="#experience"><i class="title-icon fa fa-suitcase"></i>Experience</a>
                <a href="#skills"><i class="title-icon fa fa-sliders"></i>Skills</a>
                <a href="#education"><i class="title-icon fa fa-graduation-cap"></i>Education</a>
                <!-- <a href="#portfolios"><i class="title-icon fa fa-archive"></i>Portfolios</a> -->
                <a href="#interest"><i class="title-icon fa fa-heart"></i>Interest</a>
                <a href="/blog" target="_blank"><i class="title-icon fa fa-pencil-square"></i>Blog</a>
                <a href="#contact"><i class="title-icon fa fa-envelope"></i>Contact</a>
            </div>
            <div id="menuToggle">
                <div class="toggle-normal">
                    <i class="material-icons top-bar">remove</i>
                    <i class="material-icons middle-bar">remove</i>
                    <i class="material-icons bottom-bar">remove</i>
                </div>
            </div>
        </nav>
        <div class="header-background section"></div>
    </header>
    <div id="v-card-holder" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="v-card" class="card">
                        <div id="profile" class="right">
                            <img alt="profile-image" class="img-responsive" src="~/content/images/profile/dp.jpg">
                            <div class="slant"></div>
                        </div>
                        <div id="close-btn" class="btn-floating icon-close">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-content">
                            <div class="info-headings">
                                <h4 class="text-uppercase left">Mohan Rao</h4>
                                <h6 class="text-capitalize left">Full Stack Web Application Developer</h6>
                            </div>
                            <div class="infos">
                                <ul class="profile-list">
                                    <li class="clearfix">
                                        <span class="title"><i class="material-icons">email</i></span>
                                        <span class="content">mohanraobala@gmail.com</span>
                                    </li>
                                    <li class="clearfix">
                                        <span class="title"><i class="material-icons">language</i></span>
                                        <span class="content">mohansglobe.com</span>
                                    </li>
                                    <li class="clearfix">
                                        <span class="title"><i class="fa fa-skype" aria-hidden="true"></i></span>
                                        <span class="content">mohanraobala@skype.com</span>
                                    </li>
                                    <li class="clearfix">
                                        <span class="title"><i class="material-icons">phone</i></span>
                                        <span class="content">+91 984 143 5052</span>
                                    </li>
                                    <li class="clearfix">
                                        <span class="title"><i class="material-icons">place</i></span>
                                        <span class="content">Chennai, Tamilnadu, India</span>
                                    </li>

                                </ul>
                            </div>
                            <div class="links">
                                <a href="https://www.facebook.com/mohan.rao.55" id="first_one"
                                   class="social btn-floating indigo">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="https://twitter.com/mohanraobala" class="social  btn-floating blue">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social  btn-floating red">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/mohan-rao-dhamodharan-ba40a372" class="social  btn-floating blue darken-3">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="about-card" class="card">
                        <div class="card-content">
                            <p>
                                Hello! I'm Mohan Rao. Senior Web Developer with over 3+ years of experience
                                specializing in both back end and front end development. Experienced with all stages of the
                                development cycle for dynamic web projects. Having an in-depth knowledge
                                including advanced ASP.NET MVC, WebAPI 1/2, ADO.NET, Entity Framework, C#, Windows Services, Active Directory, T-SQL, SQL, HTML5, CSS, CSS3, SASS, LESS, Bootstrap, JSON, XML, JavaScript, AJAX,
                                JQuery, Angular JS. Strong background in management and leadership.
                            </p>
                        </div>
                        <div id="about-btn" class="card-action">
                            <div class="about-btn">
                                <a href="#" class="btn waves-effect">Download CV</a>
                                <a href="#contact" class="btn waves-effect">Contact Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="skills" class="section">
        <div class="container">
            <div class="section-title">
                <h4 class="text-uppercase text-center"><img src="~/content/images/icons/mixer.png" alt="demo">Skills</h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="skills-card" class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="skills-title">
                                        <h6 class="text-center">Microsoft Technologies</h6>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>ASP .Net MVC 4/5</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>Web API 1/2</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="80%">
                                        <div class="skillbar-title"><span>.NET Framework 3.5/4.0/4.5</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div>
                                    <div class="skillbar" data-percent="95%">
                                        <div class="skillbar-title"><span>C#</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">95%</div>
                                    </div>
                                    <div class="skillbar" data-percent="95%">
                                        <div class="skillbar-title"><span>ADO.NET</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">95%</div>
                                    </div>
                                    <div class="skillbar" data-percent="80%">
                                        <div class="skillbar-title"><span>Entity Framework</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>LINQ</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>T-SQL</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="60%">
                                        <div class="skillbar-title"><span>ODBC Connectors</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">60%</div>
                                    </div>
                                    <div class="skillbar" data-percent="60%">
                                        <div class="skillbar-title"><span>Windows Services</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">60%</div>
                                    </div>
                                    <div class="skillbar" data-percent="40%">
                                        <div class="skillbar-title"><span>Active Directory</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">40%</div>
                                    </div>
                                    <div class="skillbar" data-percent="80%">
                                        <div class="skillbar-title"><span>SSRS (SQL Server Reporting Services)</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div>
                                    <div class="skills-title">
                                        <h6 class="text-center">Operating Platforms</h6>
                                    </div>
                                    <div class="skillbar" data-percent="95%">
                                        <div class="skillbar-title"><span>Windows 7/8/10</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">95%</div>
                                    </div>
                                    <div class="skillbar" data-percent="65%">
                                        <div class="skillbar-title"><span>Windows Server 2008/2012</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">65%</div>
                                    </div>
                                    <div class="skillbar" data-percent="50%">
                                        <div class="skillbar-title"><span>Microsoft Azure Server</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">50%</div>
                                    </div>

                                </div>


                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="skills-title">
                                        <h6 class="text-center">Web Technologies</h6>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>JavaScript</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="80%">
                                        <div class="skillbar-title"><span>HTML5</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>AJAX</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="70%">
                                        <div class="skillbar-title"><span>CSS3</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">70%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>LESS</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>SAAS</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>Bootstrap</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="50%">
                                        <div class="skillbar-title"><span>AngularJs 1/2.0</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">50%</div>
                                    </div>
                                    <div class="skillbar" data-percent="50%">
                                        <div class="skillbar-title"><span>Web Plugins</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">50%</div>
                                    </div>
                                    <div class="skills-title">
                                        <h6 class="text-center">CMS</h6>
                                    </div>
                                    <div class="skillbar" data-percent="65%">
                                        <div class="skillbar-title"><span>Sitecore</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">65%</div>
                                    </div>
                                    <div class="skills-title">
                                        <h6 class="text-center">Application Servers</h6>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>IIS</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="40%">
                                        <div class="skillbar-title"><span>Windows SMTP Mail Server</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">40%</div>
                                    </div>
                                    <div class="skills-title">
                                        <h6 class="text-center">Unit Testing</h6>
                                    </div>
                                    <div class="skillbar" data-percent="95%">
                                        <div class="skillbar-title"><span>NUnit</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">95%</div>
                                    </div>
                                </div>


                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="skills-title">
                                        <h6 class="text-center">Database</h6>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>MS-SQL Server 2008/2012/2014</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="70%">
                                        <div class="skillbar-title"><span>MySQL</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">70%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>SQLCE</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="80%">
                                        <div class="skillbar-title"><span>SQLite</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div>
                                    <div class="skillbar" data-percent="80%">
                                        <div class="skillbar-title"><span>Azure SQL Database</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div>
                                    <div class="skillbar" data-percent="40%">
                                        <div class="skillbar-title"><span>Azure Blob</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">40%</div>
                                    </div>
                                    <div class="skills-title">
                                        <h6 class="text-center">Project Management Approaches</h6>
                                    </div>
                                    <div class="skillbar" data-percent="95%">
                                        <div class="skillbar-title"><span>Agile</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">95%</div>
                                    </div>
                                    <div class="skillbar" data-percent="80%">
                                        <div class="skillbar-title"><span>Scrum</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>Waterfall</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skills-title">
                                        <h6 class="text-center">Source Code Management</h6>
                                    </div>
                                    <div class="skillbar" data-percent="95%">
                                        <div class="skillbar-title"><span>TFS</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">95%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>Bitbucket</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>SVN</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                    <div class="skillbar" data-percent="90%">
                                        <div class="skillbar-title"><span>GitHub</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experience" class="section">
        <div class="container">
            <div class="section-title">
                <h4 class="text-uppercase text-center"><img src="~/content/images/icons/layers.png" alt="demo">Experience</h4>
            </div>
            <div id="timeline-experience">
                <div class="timeline-block">
                    <div class="timeline-dot"><h6>S</h6></div>
                    <div class="card timeline-content">
                        <div class="card-content">
                            <h6 class="timeline-title">Software Engineer Level 3</h6>
                            <div class="timeline-info">
                                <h6>
                                    <small>Syncfusion Softwares Pvt Ltd</small>
                                </h6>
                                <h6>
                                    <small>April 2014 - Jul 2016</small>
                                </h6>
                            </div>
                            <p>
                                I started my software engineering carrier here, spent two years learning and working
                                in various web technologies..
                            </p>
                            <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="timeline-block">
                    <div class="timeline-dot"><h6>A</h6></div>
                    <div class="card timeline-content">
                        <div class="card-content">
                            <h6 class="timeline-title">Application Development Analyst</h6>
                            <div class="timeline-info">
                                <h6>
                                    <small>Accenture</small>
                                </h6>
                                <h6>
                                    <small>Jul 2016 - Continue</small>
                                </h6>
                            </div>
                            <p>
                                I joined here on 2016, currently working on various development aspects. I already worked on about...
                            </p>
                            <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="education" class="section">
        <div class="container">
            <div class="section-title">
                <h4 class="text-uppercase text-center"><img src="~/content/images/icons/book.png" alt="demo">Education</h4>
            </div>
            <div id="timeline-education">
                <div class="timeline-block">
                    <div class="timeline-dot"><h6>S</h6></div>
                    <div class="card timeline-content">
                        <div class="card-content">
                            <h6 class="timeline-title">Secondary School</h6>
                            <div class="timeline-info">
                                <h6>
                                    <small>St. Joseph's Higher Secondary School</small>
                                </h6>
                                <h6>
                                    <small>Jun 1997 - Mar 2007</small>
                                </h6>
                            </div>
                            <p>
                                I completed my secondary school from this institution. It is located in Chennai, India.
                                I successfully completed all the credits without any fallout and secured 93% in Board Exams.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-dot"><h6>H</h6></div>
                    <div class="card timeline-content">
                        <div class="card-content">
                            <h6 class="timeline-title">High School</h6>
                            <div class="timeline-info">
                                <h6>
                                    <small>St. Joseph's Higher Secondary School</small>
                                </h6>
                                <h6>
                                    <small>July 2007 - Mar 2009</small>
                                </h6>
                            </div>
                            <p>
                                I completed my high school degree from this institution. It is located in Chennai, India.
                                I successfully completed all the credits without any fallout and secured 91% in Board Exams.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="timeline-block">
                    <div class="timeline-dot"><i class="fa fa-graduation-cap"></i></div>
                    <div class="card timeline-content">
                        <div class="card-content">
                            <h6 class="timeline-title">Electronics and Communication Engineering</h6>
                            <div class="timeline-info">
                                <h6>
                                    <small>Jaya Engineering College, Anna University</small>
                                </h6>
                                <h6>
                                    <small>June 2009 - Mar 2013</small>
                                </h6>
                            </div>
                            <p>
                                I completed this degree from this prestigious institution. It is located in Chennai, India.
                                Completed the degree without any arrears and Secured CGPA of 7.5
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--==========================================
                      MODALS
    ===========================================-->
    <section>
        <!--MODAL ONE-->
        <div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!--MODAL HEADER-->
                    <div class="modal-header  text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel-1">GRADUATION AT ASHTON UNI</h4>
                        <h6>
                            <small>Jan 2014 - Mar 2015</small>
                        </h6>
                    </div>
                    <!--MODAL BODY-->
                    <div class="modal-body">
                        <img class="img-responsive" alt="graduation" src="~/content/images/timeline/demo-gra.jpg">
                        <p>
                            I have learned a great many things from participating in varsity football.
                            It has changed my entire outlook on and attitude toward life. Before my
                            freshman year at [high-school], I was shy, had low self-esteem and turned
                            away from seemingly impossible challenges. Football has altered all of these
                            qualities. On the first day of freshman practice, the team warmed up with a
                            game of touch football. The players were split up and the game began. However,
                            during the game, I noticed that I didn't run as hard as I could, nor did I try
                            to evade my defender and get open. The fact of the matter is that I really did
                            not want to be thrown the ball. I didn't want to be the one at fault if I dropped
                            the ball and the play didn't succeed. I did not want the responsibility of helping
                            the team because I was too afraid of making a mistake. That aspect of my character
                            led the first years of my high school life. All the while, I went to practice.
                        </p>
                    </div>
                    <!--MODAL FOOTER-->
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL TWO-->
        <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!--MODAL HEADER-->
                    <div class="modal-header  text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel-2">EDUCATION AT Y</h4>
                        <h6>
                            <small>Jan 2014 - Mar 2015</small>
                        </h6>
                    </div>
                    <!--MODAL BODY-->
                    <div class="modal-body">
                        <p>
                            I have learned a great many things from participating in varsity football.
                            It has changed my entire outlook on and attitude toward life. Before my
                            freshman year at [high-school], I was shy, had low self-esteem and turned
                            away from seemingly impossible challenges. Football has altered all of these
                            qualities. On the first day of freshman practice, the team warmed up with a
                            game of touch football. The players were split up and the game began. However,
                        </p>
                    </div>
                    <!--MODAL FOOTER-->
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL THREE-->
        <div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-3">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!--MODAL HEADER-->
                    <div class="modal-header  text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel-3">EDUCATION AT Z</h4>
                        <h6>
                            <small>Jan 2014 - Mar 2015</small>
                        </h6>
                    </div>
                    <!--MODAL BODY-->
                    <div class="modal-body">
                        <img class="img-responsive" alt="graduation" src="~/content/images/timeline/demo-gra.jpg">
                        <p>
                            I have learned a great many things from participating in varsity football.
                            It has changed my entire outlook on and attitude toward life. Before my
                            freshman year at [high-school], I was shy, had low self-esteem and turned
                            away from seemingly impossible challenges. Football has altered all of these
                            qualities. On the first day of freshman practice, the team warmed up with a
                            game of touch football. The players were split up and the game began. However,
                        </p>
                    </div>
                    <!--MODAL FOOTER-->
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL FOUR-->
        <div class="modal fade" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-4">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!--MODAL HEADER-->
                    <div class="modal-header  text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel-4">EXPERIENCE AT Z</h4>
                        <h6>
                            <small>Jan 2014 - Mar 2015</small>
                        </h6>
                    </div>
                    <!--MODAL BODY-->
                    <div class="modal-body">
                        <p>
                            I have learned a great many things from participating in varsity football.
                            It has changed my entire outlook on and attitude toward life. Before my
                            freshman year at [high-school], I was shy, had low self-esteem and turned
                            away from seemingly impossible challenges. Football has altered all of these
                            qualities. On the first day of freshman practice, the team warmed up with a
                            game of touch football. The players were split up and the game began. However,
                        </p>
                    </div>
                    <!--MODAL FOOTER-->
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>

        <!--MODAL FIVE-->
        <div class="modal fade" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-5">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!--MODAL HEADER-->
                    <div class="modal-header  text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel-5">EXPERIENCE AT M</h4>
                        <h6>
                            <small>Jan 2014 - Mar 2015</small>
                        </h6>
                    </div>
                    <!--MODAL BODY-->
                    <div class="modal-body">
                        <p>
                            I have learned a great many things from participating in varsity football.
                            It has changed my entire outlook on and attitude toward life. Before my
                            freshman year at [high-school], I was shy, had low self-esteem and turned
                            away from seemingly impossible challenges. Football has altered all of these
                            qualities. On the first day of freshman practice, the team warmed up with a
                            game of touch football. The players were split up and the game began. However,
                        </p>
                    </div>
                    <!--MODAL FOOTER-->
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================================
                      PORTFOLIOS
    ===========================================-->
    <!-- <section id="portfolios" class="section">
        <div class="container">
            <div class="section-title">
                <h4 class="text-uppercase text-center"><img src="~/content/images/icons/safe.png" alt="demo">Portfolios</h4>
            </div>
            <div id="portfolios-card" class="row">

                <ul class="nav nav-tabs">
                    <li class="active waves-effect list-shuffle"><a id="all-sample" class="active" href="#all"
                                                                    data-toggle="tab">ALL</a>
                    <li class="waves-effect list-shuffle"><a class="cate" href="#a" data-toggle="tab">LOGO</a></li>
                    <li class="waves-effect list-shuffle"><a class="cate" href="#b" data-toggle="tab">DRIBBLE</a></li>
                    <li class="waves-effect list-shuffle"><a class="cate" href="#c" data-toggle="tab">WEBSITES</a></li>
                </ul>

                <div class="tab-content">

                    <div id="all"></div>

                    <div id="a">

                        <div class="col-md-4 col-sm-12 col-xs-12 grid big inLeft">
                            <figure class="port-effect-scale">
                                <img src="~/content/images/portfolios/big-1.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Lightbox <span> IMAGE</span></h2>
                                    <p>Two Hover Effect For Portfolio Grid Blocks. Its Scale</p>
                                    <a href="~/content/images/portfolios/big-1.jpg" class="popup-image" data-effect="mfp-3d-unfold">View
                                        more</a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                            <figure class="port-effect-scale">
                                <img src="~/content/images/portfolios/portfolio-1.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2><i class="fa fa-play-circle" aria-hidden="true"></i>Lightbox <span> Video</span>
                                    </h2>
                                    <p>I designed this for a client for his cafe.</p>
                                    <a class="popup-vimeo" href="https://vimeo.com/45830194">View more</a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/portfolio-2.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Lightbox <span> IMAGE</span></h2>
                                    <p>Two Hover Effect For Portfolio Grid Blocks. Its Up</p>
                                    <a href="~/content/images/portfolios/portfolio-2.jpg" class="popup-image"
                                       data-effect="mfp-move-horizontal">View more</a>
                                </figcaption>
                            </figure>
                        </div>

                    </div>

                    <div id="b">

                        <div class="col-md-4 col-sm-12 col-xs-12 grid big inRight">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/big-2.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Lightbox <span> IMAGE</span></h2>
                                    <p>Effect also available for Lightbox Image Check The Doc</p>
                                    <a href="~/content/images/portfolios/big-2.jpg" class="popup-image"
                                       data-effect="mfp-move-from-top">View more</a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                            <figure class="port-effect-scale">
                                <img src="~/content/images/portfolios/portfolio-3.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Lightbox <span> IMAGE</span></h2>
                                    <p>Used latest material design to make this sample</p>
                                    <a href="~/content/images/portfolios/portfolio-3.jpg" class="popup-image"
                                       data-effect="mfp-3d-unfold">View more</a>
                                </figcaption>
                            </figure>
                        </div>


                        <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/portfolio-4.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Lightbox <span> IMAGE</span></h2>
                                    <p>I designed this for a client for his cafe.</p>
                                    <a href="~/content/images/portfolios/portfolio-4.jpg" class="popup-image"
                                       data-effect="mfp-with-fade">View more</a>
                                </figcaption>
                            </figure>
                        </div>

                    </div>

                    <div id="c">
                        <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/big-1.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Single <span> PAGE</span></h2>
                                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                                    <a href="single-portfolio.html">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/big-2.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Single <span> PAGE</span></h2>
                                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                                    <a href="single-portfolio.html">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/portfolio-1.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Single <span> PAGE</span></h2>
                                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                                    <a href="single-portfolio.html">View more</a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/portfolio-2.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Single <span> PAGE</span></h2>
                                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                                    <a href="single-portfolio.html">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/portfolio-3.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Single <span> PAGE</span></h2>
                                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                                    <a href="single-portfolio.html">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                            <figure class="port-effect-up">
                                <img src="~/content/images/portfolios/portfolio-4.jpg" class="img-responsive" alt="portfolio-demo"/>
                                <figcaption>
                                    <h2>Single <span> PAGE</span></h2>
                                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                                    <a href="single-portfolio.html">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button id="add-more" class="center-block btn-large waves-effect"><i id="port-add-icon"
                                                                                             class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section> -->

    <section id="interest" class="section">
        <div class="container">
            <div class="section-title">
                <h4 class="text-uppercase text-center"><img src="~/content/images/icons/heart.png" alt="demo">Interest</h4>
            </div>

            <div id="interest-card" class="card">
                <div class="card-content">
                    <p>
                        Love watching Cricket, Movies and playing games with my buddies. I spend quite a lot of time
                        in traveling and photography, these keeps me fresh for working environment.
                    </p>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-2 col-sm-4 col-xs-6  box text-center">
                        <div class="interest-icon">
                            <i class="fa fa-music"></i>
                            <span>Music</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                        <div class="interest-icon-even">
                            <i class="fa fa-gamepad"></i>
                            <span>Gaming</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                        <div class="interest-icon">
                            <i class="fa fa-camera"></i>
                            <span>Photography</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                        <div class="interest-icon-even">
                            <i class="fa fa-futbol-o"></i>
                            <span>Cricket</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                        <div class="interest-icon">
                            <i class="fa fa-plane"></i>
                            <span>Traveling</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
                        <div class="interest-icon-even">
                            <i class="fa fa-film"></i>
                            <span>Movies</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================================
                 BLOG
    ===========================================-->
    <!-- <section id="blog" class="section">
        <div class="container">
            <div class="section-title">
                <h4 class="text-uppercase text-center"><img src="~/content/images/icons/post-it.png" alt="demo">Blog</h4>
            </div>
            <div id="blog-card" class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card">
                        <div class="blog odd">
                            <div class="image">
                                <img alt="blog-image" src="~/content/images/blog/blog-2.png"/>
                                <div class="image-overlay">
                                    <div class="comments">
                                        <i class="fa fa-user"></i> John Doe
                                        <i class="fa fa-clock-o"></i>
                                        <time datetime="2045-08-16">August 7, 2020</time>
                                        <i class="fa fa-comments"></i> 168
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <ol class="breadcrumb">
                                    <li><a href="#">Frontend</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li class="active">Material</li>
                                </ol>
                                <h6>Material Design</h6>
                                <p>
                                    Web design encompasses many different skills and disciplines in the production
                                    of websites.Web design include web graphic design, interface design etc.
                                </p>
                                <a class="forward" href="single-blog.html">Read More</a>
                            </div>
                        </div>
                        <div class="blog even">
                            <div class="image">
                                <img alt="blog-image" src="~/content/images/blog/blog-1.png"/>
                                <div class="image-overlay">
                                    <div class="comments">
                                        <i class="fa fa-user"></i> John Doe
                                        <i class="fa fa-clock-o"></i>
                                        <time datetime="2045-08-16">August 7, 2020</time>
                                        <i class="fa fa-comments"></i> 168
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <ol class="breadcrumb">
                                    <li><a href="#">Backend</a></li>
                                    <li><a href="#">Dev</a></li>
                                    <li class="active">Shortcuts</li>
                                </ol>
                                <h6>Development Shortcut</h6>
                                <p>
                                    Web development is a broad term for the work involved in developing a web site
                                    for the Internet or an intranet. Now lets get a bit deeper in this topic
                                </p>
                                <a class="forward" href="single-blog.html">Read More</a>
                            </div>
                        </div>
                        <div class="blog odd">
                            <div class="image">
                                <img alt="blog-image" src="~/content/images/blog/blog-3.png"/>
                                <div class="image-overlay">
                                    <div class="comments">
                                        <i class="fa fa-user"></i> John Doe
                                        <i class="fa fa-clock-o"></i>
                                        <time datetime="2045-08-16">August 7, 2020</time>
                                        <i class="fa fa-comments"></i> 168
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <ol class="breadcrumb">
                                    <li><a href="#">Frontend</a></li>
                                    <li><a href="#">Specs</a></li>
                                    <li class="active">UI</li>
                                </ol>
                                <h6>A Good UI</h6>
                                <p>
                                    The user interface (UI), in the industrial design field of human–machine
                                    interaction, is the space where interactions between humans and machines occur.
                                </p>
                                <a class="forward" href="single-blog.html">Read More</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section id="contact" class="section">
        <div class="container">
            <div class="section-title">
                <h4 class="text-uppercase text-center"><img src="~/content/images/icons/envelope.png" alt="demo">Contact</h4>
            </div>
            <div class="row">
                <div id="contact-card" class="col-md-5 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-content">
                            <form id="contact-form" name="c-form">
                                <div class="input-field">
                                    <input id="first_name" type="text" class="validate" name="first_name" required>
                                    <label for="first_name">Name</label>
                                </div>
                                <div class="input-field">
                                    <input id="sub" type="text" class="validate" name="sub">
                                    <label for="sub">Subject</label>
                                </div>
                                <div class="input-field">
                                    <input id="email" type="email" class="validate" name="email" required>
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field">
                                    <textarea id="textarea1" class="materialize-textarea" name="message"
                                              required></textarea>
                                    <label for="textarea1">Message</label>
                                </div>
                                <div class="contact-send">
                                    <button id="submit" name="contactSubmit" type="submit" value="Submit"
                                            class="btn waves-effect">
                                        Send
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="form-loader" class="progress is-hidden">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div id="map-card" class="card">
                        <div id="myMap"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div id="scroll-top">
        <div id="scrollup"><i class="fa fa-angle-up"></i></div>
    </div>

    <footer>
        <div class="container">
            <p class="text-center">
                Designed and Managed by
                <a href="http://mohansglobe.com/" target="_blank">
                    <strong>Mohan Rao</strong>
                </a>
            </p>
        </div>
    </footer>


    <div id="color-palate" class="popout card hide">
        <div id="color-toggle" class="toggle text-center"><i class="fa fa-cog fa-spin"></i></div>
        <div class="colors text-center">
            <p class="text-center">Pick a Color</p>
            <ul>
                <li id="blue" class="color1"></li>
                <li id="teal" class="color2"></li>
                <li id="gray" class="color3"></li>
                <li id="green" class="color4"></li>
                <li id="purple" class="color5"></li>
                <li id="brown" class="color6"></li>
                <li id="red" class="color7"></li>
                <li id="pink" class="color8"></li>
            </ul>
            <p class="text-center">Blend & Dark</p>
            <ul>
                <li id="blue-blend" class="color1"></li>
                <li id="green-blend" class="color4"></li>
                <li id="dark_gray" class="color10"></li>
            </ul>
        </div>
    </div>
    @Scripts.Render("~/bundles/about")
</body>
</html>