<!--==========================================
                  PORTFOLIOS
===========================================-->
<!-- <section id="portfolios" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="~/content/images/icons/safe.png" alt="demo">Portfolios</h4>
        </div>
        <div id="portfolios-card" class="row">

            <ul class="nav nav-tabs">
                <li class="active waves-effect list-shuffle"><a id="all-sample" class="active" href="#all"
                                                                data-toggle="tab">ALL</a>
                <li class="waves-effect list-shuffle"><a class="cate" href="#a" data-toggle="tab">LOGO</a></li>
                <li class="waves-effect list-shuffle"><a class="cate" href="#b" data-toggle="tab">DRIBBLE</a></li>
                <li class="waves-effect list-shuffle"><a class="cate" href="#c" data-toggle="tab">WEBSITES</a></li>
            </ul>

            <div class="tab-content">

                <div id="all"></div>

                <div id="a">

                    <div class="col-md-4 col-sm-12 col-xs-12 grid big inLeft">
                        <figure class="port-effect-scale">
                            <img src="~/content/images/portfolios/big-1.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Lightbox <span> IMAGE</span></h2>
                                <p>Two Hover Effect For Portfolio Grid Blocks. Its Scale</p>
                                <a href="~/content/images/portfolios/big-1.jpg" class="popup-image" data-effect="mfp-3d-unfold">View
                                    more</a>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect-scale">
                            <img src="~/content/images/portfolios/portfolio-1.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2><i class="fa fa-play-circle" aria-hidden="true"></i>Lightbox <span> Video</span>
                                </h2>
                                <p>I designed this for a client for his cafe.</p>
                                <a class="popup-vimeo" href="https://vimeo.com/45830194">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/portfolio-2.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Lightbox <span> IMAGE</span></h2>
                                <p>Two Hover Effect For Portfolio Grid Blocks. Its Up</p>
                                <a href="~/content/images/portfolios/portfolio-2.jpg" class="popup-image"
                                   data-effect="mfp-move-horizontal">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                </div>

                <div id="b">

                    <div class="col-md-4 col-sm-12 col-xs-12 grid big inRight">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/big-2.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Lightbox <span> IMAGE</span></h2>
                                <p>Effect also available for Lightbox Image Check The Doc</p>
                                <a href="~/content/images/portfolios/big-2.jpg" class="popup-image"
                                   data-effect="mfp-move-from-top">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                        <figure class="port-effect-scale">
                            <img src="~/content/images/portfolios/portfolio-3.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Lightbox <span> IMAGE</span></h2>
                                <p>Used latest material design to make this sample</p>
                                <a href="~/content/images/portfolios/portfolio-3.jpg" class="popup-image"
                                   data-effect="mfp-3d-unfold">View more</a>
                            </figcaption>
                        </figure>
                    </div>


                    <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/portfolio-4.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Lightbox <span> IMAGE</span></h2>
                                <p>I designed this for a client for his cafe.</p>
                                <a href="~/content/images/portfolios/portfolio-4.jpg" class="popup-image"
                                   data-effect="mfp-with-fade">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                </div>

                <div id="c">
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/big-1.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Single <span> PAGE</span></h2>
                                <p>Showcase Your Portfolio in Details on a Single Page</p>
                                <a href="single-portfolio.html">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/big-2.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Single <span> PAGE</span></h2>
                                <p>Showcase Your Portfolio in Details on a Single Page</p>
                                <a href="single-portfolio.html">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/portfolio-1.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Single <span> PAGE</span></h2>
                                <p>Showcase Your Portfolio in Details on a Single Page</p>
                                <a href="single-portfolio.html">View more</a>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/portfolio-2.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Single <span> PAGE</span></h2>
                                <p>Showcase Your Portfolio in Details on a Single Page</p>
                                <a href="single-portfolio.html">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/portfolio-3.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Single <span> PAGE</span></h2>
                                <p>Showcase Your Portfolio in Details on a Single Page</p>
                                <a href="single-portfolio.html">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
                        <figure class="port-effect-up">
                            <img src="~/content/images/portfolios/portfolio-4.jpg" class="img-responsive" alt="portfolio-demo"/>
                            <figcaption>
                                <h2>Single <span> PAGE</span></h2>
                                <p>Showcase Your Portfolio in Details on a Single Page</p>
                                <a href="single-portfolio.html">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button id="add-more" class="center-block btn-large waves-effect"><i id="port-add-icon"
                                                                                         class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section> -->
