<section id="skills" class="section">
    <div class="container">
        <div class="section-title">
            <h4 class="text-uppercase text-center"><img src="~/content/images/icons/mixer.png" alt="demo">Skills</h4>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="skills-card" class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="skills-title">
                                    <h6 class="text-center">Microsoft Technologies</h6>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>ASP .Net MVC 4/5</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>Web API 1/2</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>.NET Framework 3.5/4.0/4.5</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="95%">
                                    <div class="skillbar-title"><span>C#</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                <div class="skillbar" data-percent="95%">
                                    <div class="skillbar-title"><span>ADO.NET</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>Entity Framework</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>LINQ</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>T-SQL</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>ODBC Connectors</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>
                                <div class="skillbar" data-percent="60%">
                                    <div class="skillbar-title"><span>Windows Services</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>
                                <div class="skillbar" data-percent="40%">
                                    <div class="skillbar-title"><span>Active Directory</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">40%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>SSRS (SQL Server Reporting Services)</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skills-title">
                                    <h6 class="text-center">Operating Platforms</h6>
                                </div>
                                <div class="skillbar" data-percent="95%">
                                    <div class="skillbar-title"><span>Windows 7/8/10</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                <div class="skillbar" data-percent="65%">
                                    <div class="skillbar-title"><span>Windows Server 2008/2012</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">65%</div>
                                </div>
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>Microsoft Azure Server</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>

                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="skills-title">
                                    <h6 class="text-center">Web Technologies</h6>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>JavaScript</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>HTML5</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>AJAX</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="70%">
                                    <div class="skillbar-title"><span>CSS3</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>LESS</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>SAAS</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>Bootstrap</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>AngularJs 1/2.0</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>Web Plugins</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div>
                                <div class="skills-title">
                                    <h6 class="text-center">CMS</h6>
                                </div>
                                <div class="skillbar" data-percent="65%">
                                    <div class="skillbar-title"><span>Sitecore</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">65%</div>
                                </div>
                                <div class="skills-title">
                                    <h6 class="text-center">Application Servers</h6>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>IIS</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="40%">
                                    <div class="skillbar-title"><span>Windows SMTP Mail Server</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">40%</div>
                                </div>
                                <div class="skills-title">
                                    <h6 class="text-center">Unit Testing</h6>
                                </div>
                                <div class="skillbar" data-percent="95%">
                                    <div class="skillbar-title"><span>NUnit</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="skills-title">
                                    <h6 class="text-center">Database</h6>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>MS-SQL Server 2008/2012/2014</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="70%">
                                    <div class="skillbar-title"><span>MySQL</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>SQLCE</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>SQLite</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>Azure SQL Database</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="40%">
                                    <div class="skillbar-title"><span>Azure Blob</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">40%</div>
                                </div>
                                <div class="skills-title">
                                    <h6 class="text-center">Project Management Approaches</h6>
                                </div>
                                <div class="skillbar" data-percent="95%">
                                    <div class="skillbar-title"><span>Agile</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                <div class="skillbar" data-percent="80%">
                                    <div class="skillbar-title"><span>Scrum</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">80%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>Waterfall</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skills-title">
                                    <h6 class="text-center">Source Code Management</h6>
                                </div>
                                <div class="skillbar" data-percent="95%">
                                    <div class="skillbar-title"><span>TFS</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">95%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>Bitbucket</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>SVN</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                                <div class="skillbar" data-percent="90%">
                                    <div class="skillbar-title"><span>GitHub</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
